
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <p class="titleWhite">Tech and Solve</p>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <br><br><br><br>
        <label>Introduzca cédula:
          <input [(ngModel)]="cedula" placeholder="cedula" id="dni" name="dni">
        </label>
        <p class="lead">Seleccione el archivo de entrada</p>
        <div>
            <input type="file" id="file" multiple name="file"  (change)="getFileDetails($event)">
        </div>
        <button (click)="uploadFiles()">Upload</button>
      </div>

      <br>
      <div>
        <p>Respuesta:</p>
        <p>{{respuesta}}</p>
      </div>

    </main><!-- /.container -->
